.your-note-tab-overlay {
  position: absolute;
  top: 0;
  background: transparent;
  height: 100dvh;
  width: 100vw;
  z-index: 5;
  display: none;
}

.your-note-tab {
  background: #131313;
  position: relative;
  top: 80px;
  height: 100dvh;
  width: 100vw;
  border-radius: 30px 30px 0 0;
  border: 2px solid #c4c4c4;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.your-note-tab::-webkit-scrollbar {
  display: none;
}

.your-note-title {
  width: 100%;
  height: max-content;
  color: var(--color-accent);
  padding: 8px 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.your-note-page {
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.your-note-page textarea {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 17px;
  resize: none;
  margin: 10px 0;
  height: 100dvh;
  width: 100vw;
  background: none;
  border: none;
  padding: 0 20px;
  color: #ffffff;
  line-height: 24px;
  background-image: linear-gradient(to bottom, #e0e0e034 1px, transparent 1px);
  background-size: 100% 24px; 
}

.your-note-page textarea:focus {
  border: none;
  outline: none;
}


/*--------LIGHT MODE--------*/
body.light .your-note-tab {
  background: var(--color-background);
  border: 2px solid gray;
}

body.light .your-note-title {
  color: #262626;
}

body.light .your-note-page textarea {
  color: #262626;
  background-image: linear-gradient(to bottom, #e0e0e034 1px, transparent 1px);
}
