:root {
  --progress-percentage: 0%;
}

.goals {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: var(--color-background);
  z-index: 2;
  overflow-y: scroll;
  scrollbar-width: none;
}

.toggle-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
}

.goals-logo-circle {
  position: sticky;
  top: 0;
  background: var(--card-goal);
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 8px;
  color: #ebebeb;
  box-shadow: 0 0 10px #26262644;
  z-index: 10;
  border-radius: 0 0 20px 20px;
}

.title {
  display: flex;
  flex-direction: column;
}

.title p {
   font-size: 12px;
}

.pr-icon-circle {
  position: relative;
  height: 50px;
  width: 50px;
  background: #FA7600;
  border-radius: 50px;
}

.goals-tab {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.progress-card {
  display: flex;
  margin: 10px;
  gap: 15px;
}

.progress-card span {
  font-size: 24px;
}

.avg-progress, .completed-goal {
  display: flex;
  align-items: center;
  background: var(--card-goal);
  box-shadow: 0 0 10px #26262644;
  border-radius: 12px;
  padding: 8px 12px;
  width: 100%;
  gap: 10px;
}

.avg-progress i {
  font-size: 18px;
  color: #ebebeb;
  background: #1779fa;
  border-radius: 20px;
  padding: 8px 12px;
}

.completed-goal i {
  font-size: 18px;
  color: #ebebeb;
  background: #fa8500ea;
  border-radius: 20px;
  padding: 8px 12px;
}

.set-goal {
  display: flex;
  flex-direction: column;
  background: var(--card-goal);
  box-shadow: 0 0 10px #26262644;
  gap: 15px;
  height: 100%;
  padding: 20px;
  border-radius: 20px;
}

.goals-logo-square {
  display: flex;
  align-items: center;
  gap: 15px;
  color: #262626;
}

.goals-logo-square h2 {
  position: relative;
  color: #fff;
}

.goals-logo-square h2::before {
  content: '';
  position: absolute;
  bottom: 0;
  height: 4px;
  border-radius: 8px;
  width: 55%;
  background-image: linear-gradient(to right, #fcad1a96, #fa7600);
}

.set-goal p {
  font-size: 14px;
  color: #666;
}

.pr-icon-square {
  position: relative;
  height: 50px;
  width: 50px;
  background: #FA7600;
  border-radius: 15px;
  pointer-events: none;
}
.square-1, .square-2, .square-3,
.square-4 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
  .square-1 {
  height: 2px;
  width: 2px;
  background: #FA7600;
  z-index: 4;
  }
  .square-2 {
  background: #fff;
  height: 10px;
  width: 10px;
  border-radius: 8px;
  border: 2px solid #FA7600;
  z-index: 3;
  }
  .square-3 {
  background: #fff;
  height: 18px;
  width: 18px;
  border-radius: 16px;
  border: 2px solid #FA7600;
  z-index: 2;
  }
  .square-4 {
  background: #fff;
  height: 26px;
  width: 26px;
  border-radius: 16px;
  border: 2px solid #FA7600;
  }
  .dot {
  position: absolute;
  top: -4px;
  right:-4px;
  height: 18px;
  width: 18px;
  border-radius: 15px;
  background: #fa9f1777;
  z-index: 5;
}

.input-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-box input, .input-box select {
  border: none;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 0 15px #3f3c3949;
}

.input-box input:focus, .input-box select  {
  outline-color: #794e2867;
}

.input-box-2 {
  display: flex;
  gap: 15px;
}

.input-box-2 input, .input-box-2 select {
  width: 100%;
}

.category-box, .target-track {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.input-box-3 {
  display: none;
  gap: 15px;
  width: 100%;
}

.unit, .deadline {
  width: 50%;
}

.unit input, .deadline input {
  width: 100%;
}

.btn-group {
  display: flex;
  align-items: center;
  gap: 12px;
}
.btn-group i {
  font-size: 16px;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0 0 10px #26262660;
  background: #fff8f0a2;
}
#createGoal {
  width: 100%;
  padding: 16px;
  border: none;
  border-radius: 12px;
  background: #00FF80;
  color: #262626;
  cursor: pointer;
}

/**CONTROL BOX**/
.goal-control-box {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 15px;
}

.goal-controls-button {
  display: flex;
  gap: 10px;
  padding: 10px;
  border-radius: 16px;
  background: var(--card-goal);
  box-shadow: 0 0 10px #26262644;
}

.goal-controls-button button {
  padding: 20px 0;
  font-size: 12px;
  font-weight: 600;
  color: #ebebeb;
  width: 100%;
  border: none;
  border-radius: 12px;
  background: #262626;
  border: 1px solid #00ff8094;
  cursor: pointer;
}

#allGoal.active, #activeGoal.active, 
#completedGoal.active {
  background: #00FF80;
  color: #262626;
}

.goal-filter {
  transition: 0.3s ease;
}

.goal-filter:hover {
  background: #00FF80;
  color: #262626;
}

.goal-filter:active {
  transform: scale(0.90);
}

.goal-categories {
  position: relative;
  font-weight: 550;
  padding: 10px;
  flex-direction: column;
  gap: 8px;
  border-radius: 16px;
  background: var(--card-goal);
  box-shadow: 0 0 10px #26262644;
}

.goal-categories p {
  color: #00FF80;
}

.first-line, .second-line {
  display: flex;
  gap: 4px;
}

.first-line button, .second-line button {
  width: 100%;
  font-size: 12px;
  padding: 16px 20px;
  font-weight: 550;
  margin-top: 8px;
  color: #262626;
  width: 100%;
  border: none;
  border-radius: 12px;
  background: #262626;
  border: 1px solid #00ff8094;
  color: #ebebeb;
  cursor: pointer;
  transition: 0.3s ease;
}

#health.active, #career.active,
#personal.active, #financial.active {
  background: #00FF80;
  color: #262626;
}

.goal-categories button:hover {
  background: #00FF80;
  color: #262626;
}

.goal-categories button:active {
  transform: scale(0.90);
}


/**goal container**/
.your-goal-list {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
}

.your-goal-container {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background: var(--card-goal);
  box-shadow: 0 0 10px #26262644;
  padding: 2px 20px 20px;
  gap: 8px;
}


.goal-category {
  width: max-content;
  font-size: 12px;
  color: #01d169;
}

.goal-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ebebeb;
}

.current-title.hide {
  display: none;
}

.change-title {
  border: none;
  padding: 6px;
  background: #fff;
  border-radius: 6px;
  color: #262626;
}

.change-title.hide {
  display: none;
}

.change-title:focus {
  border: none;
  outline: none;
  box-shadow: 0 0 4px #262626;
}

.editIt.active {
  display: none;
}

.saveIt.inactive {
  display: none;
}

.saveIt {
  cursor: pointer;
}

.btn-goal {
  display: flex;
  position: relative;
  max-width: 45px;
  min-width: 30px;
  width: 100%;
  gap: 10px;
}

.btn-goal i {
  color: #038a46;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn-goal i:hover {
  color: #5f5f5f;
}

.btn-goal i:active {
  font-size: 14px;
}

#closeInputBox3 {
  display: none;
}

.goal-deadline i {
  background: #01d1696b;  
  width: max-content;
  padding: 4px 10px;
  border-radius: 8px;
  color: #ebebeb;
}

.track-progress {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.track-progress p {
  color: #01d169;
}

.progress {
  display: flex;
  justify-content: space-between;
}

.progress-bar {
  position: relative;
  height: 18px;
  width: 100%;
  background: #fff;
  border: 1px solid #66666663;
  border-radius: 20px;
  box-shadow: 0 0 10px #0000002a;
}

.add-progress {
  display: flex;
  gap: 6px;
}

.add-progress input {
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 10px #0000002a;
  width: 90%;
  padding: 12px;
}

#addPoints {
  width: 10%;
  border: none;
  border-radius: 20px;
  background: #fa7600;
  color: #fff;
  cursor: pointer;
}

.progress-bar::before {
  content: '';
  position: absolute;
  border-radius: 20px;
  top: 10%;
  left: 1px;
  height: 14px;
  background: #FA7600;
  width: var(--progress-percentage);
}

/**CONTROL WITH JS**/
#createGoal.disabled {
  background: #9de4c094;
  color: #ffffff41;
  cursor: default;
}

#closeInputBox3.active {
  display: flex;
  cursor: pointer;
  background: #f334346c;
  color: #fff;
  transition: 0.3s ease;
}

#closeInputBox3.active:hover {
  background: #fff8f0a2;
  color: #000;
}

#setDeadline {
  color: #262626;
  background: #01d169;
}

#setDeadline.active {
  display: none;
}

.input-box-3.active {
  display: flex;
  animation: fadeIn-box3 0.3s ease forwards;
}

@keyframes fadeIn-box3 {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

.empty-state {
  text-align: center;
  padding: 60px 20px;
  color: var(--empty-state);
}

.empty-state i {
  font-size: 3rem;
  color: #666;
  margin-bottom: 15px;
}

.empty-state .title {
  font-weight: 600;
  font-size: 1.2rem;
}

.empty-state .desc {
  margin: 8px 0 20px;
  color: #666;
}

#setDeadline {
  cursor: pointer;
  transition: 0.3s ease;
}

#setDeadline:hover {
  color: #5c5c5c;
  background: #fff8f0f8;
}

.your_progress {
  height: 100%;
  width: 0;
  background: #00FF80;
  border-radius: 100px;
}

.goal-completed {
  font-family: "Cagliostro", serif;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 8px;
  backdrop-filter: blur(1.5px);
}

.goal-completed p {
  font-size: 16px;
  color: #ffffff; 
  font-weight: 600; 
  background: #66666677;
  backdrop-filter: blur(5px);
  padding: 10px 20px; 
  border-radius: 8px; 
}

.delete-goal {
  position: absolute;
  right: 0;
  z-index: 2;
}


/*LIGHT MODE*/
body.light .goals-logo-circle {
  color: #462700af;
}

body.light .avg-progress,
body.light .completed-goal {
  box-shadow: 0 0 10px #26262644;
}

body.light .set-goal h2 {
  color: #262626;
}

body.light .set-goal p {
  color: #462700af;
}

body.light #createGoal {
  background: #FA7600;
  color: #fff;
}

body.light #createGoal.disabled {
  background: #cf7c339a;
}

body.light .goal-controls-button button {
  background: #e9e3de70;
  border: none;
  color: #262626;
}

body.light #allGoal.active, 
body.light #activeGoal.active, 
body.light #completedGoal.active {
  background: #fa7600;
  color: #fff;
}

body.light .goal-filter:hover {
  background: #FA7600;
  color: #fff;
}

body.light .goal-categories button {
  background: #e9e3de70;
  border: none;
  color: #262626;
}

body.light #health.active, 
body.light #career.active,
body.light #personal.active, 
body.light #financial.active {
  background: #2b87ff;
  color: #fff;
}

body.light .goal-categories button:hover {
  background: #2b87ff;
  color: #fff;
}

body.light .goal-categories p {
  color: #462700af;
}

body.light .goal-category {
  color: #462700af;
}

body.light .goal-title {
  color: #262626;
}

body.light .btn-goal i {
  color: #000000;
  transition: 0.3s ease;
}

body.light .btn-goal i:hover {
  color: #038a4681;
}

body.light .goal-deadline i {
  background: #e6c11e73;  
  color: #d47501ee;
}

body.light .track-progress p {
  color: #462700af;
}

body.light #setDeadline {
  background: #fff;
}