:root {
  --offset-y: 0px;
  --drag-y: 0px;
}

.your-note-tab-overlay {
  position: absolute;
  top: 0;
  background: transparent;
  height: 100dvh;
  width: 100vw;
  z-index: 5;
  display: none;
}

.your-note-tab {
  background: #131313;
  position: fixed;
  height: 100dvh;
  width: 100vw;
  border-radius: 30px 30px 0 0;
  border: 2px solid #c4c4c4;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  top: 0;
  user-select: none;
  touch-action: none;
}

.drag-btn {
  height: 7px;
  width: 100px;
  border-radius: 20px;
  position: absolute;
  top: 0;
  cursor: pointer;
  text-align: center;
  font-size: 24px;
}

.drag-btn i {
  position: absolute;
  top: 50%;
  left: 50%;
  color: var(--color-accent);
  transform: translate(-50%, -40%);
}

.drag-btn i:hover {
  color: #89ff9957;
}

.your-note-tab::-webkit-scrollbar {
  display: none;
}

.your-note-title {
  width: 100%;
  height: max-content;
  color: var(--color-accent);
  padding: 8px 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.your-note-page {
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.your-note-page .textpad {
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  resize: none;
  margin: 10px 0;
  min-height: 100vh;
  width: 100vw;
  height: max-content;
  background: none;
  border: none;
  font-size: 14px;
  color: #fff;
  padding: 0 20px;
  line-height: 22px;
  touch-action: pan-y;
  overflow-y: none;
  background-image: repeating-linear-gradient(
    to bottom,
    transparent, transparent 20px,
    #ccc 21px, #ccc 22px
  );
}

.your-note-page .textpad:focus {
  border: none;
  outline: none;
}

/*--------NOTES TOOL--------*/
.note-tools {
  color: #262626;
  position: absolute;
  font-family: "Tinos", serif;
  right: 0;
  display: flex;
  width: 26px;
  padding: 5px 10px;
  background: #afa2a2;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 100px;
  gap: 6px;
  z-index: 2;
}

.note-tools i {
  cursor: pointer;
  transition: 0.3s ease-in;
}

.note-tools i:hover {
  color: var(--color-accent);
  cursor: pointer;
}

.note-tools ul {
  list-style-type: none;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.note-tools a {
  background: #fff;
  border-radius: 20px;
  padding: 4px 6px;
  cursor: pointer;
  transition: 0.3s ease-in;
}

.note-tools a:hover {
  background: #b3b3b3;
  color: #3d3d3d;
}

/*--------LIGHT MODE--------*/
body.light .your-note-tab {
  background: var(--color-background);
  border: 2px solid gray;
}

body.light .your-note-title {
  color: #262626;
}

body.light .your-note-page .textpad {
  color: #262626;
}

body.light .drag-btn i:hover {
  color: #833907af;
}


@media screen and (min-height: 1024px) {
  .your-note-page .textpad {
    font-size: 19px;
    line-height: 24px;
    background-image: repeating-linear-gradient(
    to bottom,
    transparent, transparent 20px,
    #ccc 24px
  );
  }
  
}