.reminder-tab {
  font-family: "Montserrat", sans-serif;
  position: absolute;
  background: var(--color-background);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  display: none;
  flex-direction: column;
  color: #383838;
  overflow-y: scroll;
  scrollbar-width: none;
  font-size: 15px;
}

.toggle-tab {
  width: max-content;
  margin: 10px 10px 0;
  cursor: pointer;
}

.toggle-tab i {
  font-size: 24px;
  color: #ceb694;
  transition: 0.3s ease;
}

.toggle-tab i:hover {
  color: #8a7b66;
}

.reminder-container {
  background:  var(--color-background);
}

.reminder-header {
  font-family: "Cagliostro", serif;
  padding: 20px 10px;
  background: #ceb694;
  margin: 0px 10px 20px;
  border-radius: 12px;
}

.reminder-actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}

.reminder-actions label {
  font-weight: 550;
}

.reminder-input-group {
  display: flex;
  gap: 6px;
}

.reminder-input-group input,
#setDate, #startTime, #endTime {
  width: 100%;
  min-width: 150px;
  max-width: 100vw;
  padding: 8px 10px;
  border-radius: 8px;
  border: none;
  background-color: var(--color-background);;
}

.reminder-input-group input:focus,
#setDate:focus, #startTime:focus, #endTime:focus {
  outline: none;
  border: 1px solid #9c9c9c; 
  box-shadow: 0 0 6px rgba(160, 160, 160, 0.4);
}

.set-time, .add-reminder {
  border: none;
  padding: 12px 15px;
  background-color: #ebebeb;
  cursor: pointer;
  border-radius: 8px;
}

.set-time:hover, .add-reminder:hover {
  background: #e4e4e4;
}

.add-reminder:disabled {
  background-color: #ebebeb9c;
  color: #26262663;
  cursor: auto;
}

.reminder-date-set {
  display: none;
  flex-direction: column;
}

.reminder-time-set {
  display: none;
  gap: 6px;
}

#startTime, #endTime {
  padding: 10px;
  min-width: 100px;
}

.reminder-control-box {
  background: var(--color-background);
  position: sticky;
  padding: 10px 10px 20px 10px;
  border-bottom: 1px solid #66666631;
  top: 0;
  z-index: 2;
}

.reminder-controls-button {
  display: flex;
  gap: 15px;
  padding: 20px;
  background: #ceb694;
  border-radius: 12px;
}

.reminder-controls-button button {
  border: none;
  padding: 12px 8px;
  border-radius:8px;
  width: 100%;
  min-width: 50px;
  max-width: 100vw;
  cursor: pointer;
  transition: all 0.3s ease;
}

.reminder-controls-button button:hover {
  background: #5c3a21;
  color: white;
}

.reminder-filter.active {
  background: #5c3a21;
  color: white;
}

.reminder-list {
  display: flex;
  flex-direction: column;
  margin: 20px 10px;
  height: 100%;
  gap: 20px;
  scrollbar-width: none;
}

.your-reminder {
  display: flex;
  height: max-content;
  border-bottom: 1px solid #8888884d;
  width: 100%;
  padding: 20px 15px;
  background-color: #ceb694;
  border-radius: 12px;
  justify-content: space-between;
}

.checkbox {
  display: inline-block;
  align-self: center;
}

.checkbox input {
  transform: scale(1.3);
}

.reminder-body {
  display: flex;
  gap: 15px;
}

.reminder-box {
  display: flex;
  max-width: 330px;
  flex-direction: column;
  gap: 8px;
}

.reminder-title {
  font-weight: 600;
}
.reminder-schedule, 
.reminder-created {
  color: #525252;
  margin-left: 6px;
}

.reminder-tools {
  display: flex;
  align-self: center;
  gap: 8px;
  font-size: 20px;
}
.edit-reminder,
.delete-reminder {
  cursor: pointer;
}

.edit-reminder:hover,
.delete-reminder:hover {
  color: #696969;
}