.reminder-tab {
  font-family: "Montserrat", sans-serif;
  position: absolute;
  background: var(--color-background);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  display: none;
  flex-direction: column;
  color: var(--color-accent);
  overflow-y: scroll;
  scrollbar-width: none;
  font-size: 15px;
}

.toggle-tab {
  display: flex;
  justify-content: space-between;
  padding: 15px 15px 20px;
  cursor: pointer;
}

.toggle-tab i {
  font-size: 24px;
  transition: 0.3s ease;
}

.toggle-tab i:hover {
  color: var(--low-accent);
}

.reminder-header {
  padding: 20px 10px;
  background: var(--card-color);
  margin: 0px 10px 20px;
  border-radius: 12px;
}

.reminder-actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}

.reminder-actions label {
  font-weight: 550;
}

.reminder-input-group {
  display: flex;
  gap: 6px;
}

.reminder-input-group input,
#setDate, #startTime, #endTime {
  width: 100%;
  min-width: 150px;
  max-width: 100vw;
  padding: 8px 10px;
  border-radius: 8px;
  border: 1px solid #666;
  color: var(--color-accent);
  background-color: var(--color-background);
}

.reminder-input-group input:focus,
#setDate:focus, #startTime:focus, #endTime:focus {
  outline: none;
  border: 1px solid #9c9c9c; 
  box-shadow: 0 0 6px rgba(160, 160, 160, 0.4);
}

.set-time, .add-reminder {
  border: none;
  padding: 12px 15px;
  background: #c9c9c9;
  cursor: pointer;
  border-radius: 8px;
}

.set-time:hover, .add-reminder:hover {
  background: #e4e4e4;
}

.add-reminder:disabled {
  background-color: #ebebeb9c;
  color: #26262663;
  cursor: auto;
}

.reminder-date-set {
  display: none;
  flex-direction: column;
}

.reminder-time-set {
  display: none;
  gap: 6px;
}

#startTime, #endTime {
  padding: 10px;
  min-width: 100px;
}

.reminder-control-box {
  background: var(--color-background);
  position: sticky;
  padding: 10px 10px 20px 10px;
  border-bottom: 1px solid #66666631;
  top: 0;
  z-index: 2;
}

.reminder-controls-button {
  display: flex;
  gap: 15px;
  padding: 20px;
  background: var(--card-color);
  /* background: #ceb694; */
  border-radius: 12px;
}

.reminder-controls-button button {
  border: 1px solid var(--color-accent);
  background: var(--card-color);
  color: #fff;
  padding: 12px 8px;
  border-radius:8px;
  width: 100%;
  min-width: 50px;
  max-width: 100vw;
  cursor: pointer;
  transition: all 0.3s ease;
}

.reminder-controls-button button:hover {
  /* background: #5c3a21; */
  border: 2px solid #000;
  background: #00e774; 
  color: #000; 
}

.reminder-filter.active {
  border: 2px solid #000;
  background: #00e774; 
  color: #000; 
}

.reminder-list {
  display: flex;
  flex-direction: column;
  margin: 20px 10px;
  height: 100%;
  gap: 20px;
  scrollbar-width: none;
}

.your-reminder {
  display: flex;
  height: max-content;
  border-bottom: 1px solid #8888884d;
  width: 100%;
  padding: 20px 15px;
  /* background-color: #ceb694; */
  background: var(--card-color);
  border-radius: 12px;
  justify-content: space-between;
}

.your-reminder.completed .reminder-title {
  text-decoration: line-through;
  color: #00e77436;
}

.your-reminder.completed .reminder-schedule,
.your-reminder.completed .reminder-created {
  color: #00e77436;
  text-decoration: none;
}

.empty-state {
  display: flex;
  flex-direction: column;  
  align-items: center;
  gap: 15px;
  border: 1px solid #666;
  border-radius: 8px;
  padding: 30px 10px;
  background: #6666662c;
  text-align: center;
}

.empty-state h3 {
  width: max-content;
  text-decoration: underline;
  text-decoration-thickness: 0.3px;
}

.empty-state p {
  font-size: 14px;
}

.checkbox {
  display: inline-block;
  align-self: center;
}

.checkbox input {
  transform: scale(1.3);
}

.reminder-body {
  display: flex;
  gap: 15px;
}

.reminder-box {
  display: flex;
  max-width: 330px;
  flex-direction: column;
  gap: 8px;
}

.reminder-title {
  font-weight: 600;
}

.reminder-schedule, 
.reminder-created {
  color: #e6e6e6;
  margin-left: 6px;
}

.reminder-tools {
  display: flex;
  align-self: center;
  gap: 8px;
  font-size: 20px;
}
.edit-reminder,
.delete-reminder {
  cursor: pointer;
}

.edit-reminder:hover,
.delete-reminder:hover {
  /* color: #696969; */
  color: var(--low-accent)
}

/*----------OVERDUE----------*/
.reminder-schedule.overdue {
  color: #B22222;
}

.reminder-schedule.overdue::after {
  content: '(OVERDUE)';
  font-weight: 500;
}

/*------------LIGHT MODE------------*/
body.light .reminder-tab {
  color: #383838;
}

body.light .toggle-tab i {
  color: #ceb694;
  transition: 0.3s ease;
}

body.light .toggle-tab i:hover {
  color: #8a7b66;
}

body.light .reminder-header,
body.light .reminder-controls-button,
body.light .your-reminder {
  background: #ceb694;
  color: #262626;
}

body.light .reminder-controls-button button {
  background: #f1f1f1;
  color: #262626;
  border: none;
  transition: all 0.3s ease;
}

body.light .reminder-controls-button button:hover {
  background: #ff7c54;
  color: #fff;
  border: none;
}

body.light .reminder-filter.active {
  background: #ff7c54;
  color: #fff;
  border: none;
}

body.light .set-time,
body.light .add-reminder {
  background: #ffffff;
}

body.light .set-time:hover,
body.light .add-reminder:hover {
  background: #dddddd;
}

body.light .add-reminder:disabled {
  background-color: #ebebeb9c;
  color: #26262663;
  cursor: auto;
}

body.light .reminder-input-group input,
body.light #setDate, body.light #startTime, body.light #endTime {
  border: none;
  color: #262626;
}

body.light .edit-reminder:hover,
body.light .delete-reminder:hover {
  color: #44444470;
} 

body.light .your-reminder.completed .reminder-title {
  text-decoration: line-through;
  color: #26262636;
}

body.light .your-reminder.completed .reminder-schedule,
body.light .your-reminder.completed .reminder-created {
  color: #26262636;
  text-decoration: none;
}


body.light .empty-state {
  display: flex;
  flex-direction: column;  
  align-items: center;
  gap: 15px;
  border: 1px solid #666;
  border-radius: 8px;
  margin: 30px;
  padding: 20px;
  background: #ceb69457;
}
