.settings {
  display: none;
  flex-direction: column;
  background: #262626;
  position: fixed;
  height: 100vh;
  width: 80vw;
  padding: 20px 30px;
  border-right: 2px solid gray;
  top: 0;
  left: 0;
  z-index: 20;
  gap: 12px;
}

.back-to-menu {
  position: absolute;
  right: 4px;
}

.back-to-menu i {
  font-size: 20px;
}
.back-to-menu i:hover {
  color: var(--color-accent);
}

.settings h3 {
  padding-bottom: 12px;
  border-bottom: 1px solid #2b2b2b;
}

.dark-mode {
      padding: 0px 8px;
    }
    .toggle-container {
      display: flex;
      align-items: center;
      gap: 10px;
      font-family: sans-serif;
    }
    .switch {
      position: relative;
      width: 60px;
      height: 24px;
      background-color: #e7e7e7; 
      border-radius: 15px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
    .switch::before {
      content: "☀️";
      position: absolute;
      top: 2px;
      left: 4px;
      width: 20px;
      height: 20px;
      background-color: #8a8a8a; 
      border-radius: 50%;
      transition: transform 0.3s ease;
    }
    .switch.dark {
      background-color: #333; 
    }
    .switch.dark::before {
      content: "🌙";
      transform: translateX(33px); 
      background-color: #a5a5a5;
    }
    .switch-label {
      font-size: 1rem;
}

.theme {
  padding: 0px 8px;
}

.select-theme {
  color: #fff;
  background: transparent;
  padding: 8px 24px;
}


/*-----LIGHT MODE-----*/
.settings.light {
  display: none;
  background: #fff8e7;
  color: #262626;
}

.settings.open.light {
  display: flex;
}

.select-theme.light {
  color: #262626;
}
