:root {
  --box-padding: 20px;

  --prio-bg-low: #88e88b5f;
  --prio-text1: #1a871d;

  --prio-bg-med: #ffdca950;
  --prio-text2: #ff9800;

  --prio-bg-high: #f2746b9a;
  --prio-text3: #9a251c;

  --current-progress: 0%;
  --progress-bar: 0%;

  --textBtn-hover: #fff;
  --addTask-hover: #FA7600; 
  --task-text1: #6d341f;
  --task-text2: #3b3b3b;
  --task-border: none;
}

.tasks-tab {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: absolute;
  top: 0;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px 20px 30px;
  background-image: var(--glass-bg);
  backdrop-filter: blur(150px);
  gap: 20px;
  z-index: 2;
  overflow-y: scroll;
  scrollbar-width: none;
}

.task-header {
  display: flex;
  gap: 5px;
}

.task-header i {
  font-size: 24px;
  background: #FA7600;
  color: #fff;
  padding: 10px 15px;
  border-radius: 50px;
}

/*==========TASK CALENDAR==========*/
.task-select-date, 
.task-progress,
.add-task,
.task-list {
  display: flex;
  flex-direction: column;
  height: 350px;
  width: 100%;
  box-shadow: 0 0 20px #2626263f;
  border-radius: 20px;
  gap: 20px;
  padding: var(--box-padding);
  border: var(--task-border);
}

.task-progress {
  height: 250px;
}

.add-task {
  height: 100px;
}

.task-list {
  height: 350px;
  padding: 0;
  max-height: max-content;
  height: 100%;
  box-shadow: none;
}

.task-select-date {
  display: flex;
  max-height: 750px;
  height: max-content;
  padding: 20px 10px;
}

.cal-header {
  display: flex;
  gap: 10px;
}

.cal-icon i {
  color: #fff;
  background: #FA7600;
  padding: 10px;
  border-radius: 12px;
}

.cal-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.select-date-text p:nth-child(2) {
  color: var(--task-text1);
}

.today {
  padding: 6px 12px;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  transition: 0.3s ease;
  font-weight: 600;
}

.today:hover {
  background: #f09e3936;
}

.choose-date {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  font-weight: 550;
}

.choose-date::before {
  content: '';
  position: absolute;
  height: 2px;
  width: 50%;
  background: linear-gradient(to right, #e5e5e5, #FA7600, #e5e5e5);
  border-radius: 50%;
  top: -10px;
  right: 0;
  transform: translate(-50%, -50%);
}

.choose-date button {
  cursor: pointer;
  color: #262626de;
  font-size: 24px;
  padding: 4px 8px;
  border: none;
  background: none;
  border-radius: 6px;
  transition: .3s ease;
}

.choose-date button:hover {
  background: #def03936;
}

.choose-date button:active {
  transform: scale(.80);
}

.choose-date button:first-child {
  margin-left: 5%;
}

.choose-date button:last-child {
  margin-right: 5%;
}

.calendar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.days {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  border-radius: 8px;
  margin: 4px 0;
  padding: 4px 4px 0px;
  cursor: pointer;
  width: 40px;
  transition: 0.3s ease;
}

.days:hover {
  background: #def03936;
  transform: scale(1.05);
  z-index: 99;
}

.countTask {
  position: absolute;
  top: -5px;
  right: -5px;
  color: #fff;
  font-size: 10px;
  background: #FA7600;
  border-radius: 50px;
  padding: 0 4px;
  z-index: 2;
}

.countTask.select {
  color: #FA7600;
  background: #fff;
  font-size: 10px;
  top: -6px;
}

.days.select {
  background: #FA7600;
  color: #fff;
  transform: scale(1.10);
  margin: 0 5px;
}

.days.select .day {
  color: #fff;
}

.days.active, .days.active .day {
  position: relative;
  color: #FA7600;
}

.days.active::before {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  background: #FA7600;
  border-radius: 20px;
  top: 2px;
  z-index: 2;
}

.days.active::after {
  content: '';
  position: absolute;
  height: 43px;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0 0 2px #2626267D;
  top: 2px;
}

.day {
  color: var(--task-text1);
}

.todate,.day {
  pointer-events: none;
  z-index: 2;
}

.selected-date {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: max-content;
  align-self: center;
  padding: 10px 40px;
  margin: 0 0 15px 0;
  min-width: 100px;
  max-width: 300px;
  width: 100%;
  border-bottom: 1px solid #66666685;
}

.selected-date p:first-child {
  color: var(--task-text1);
}

#selectedDate {
  font-weight: 600;
}

/*==========TASK PROGRESS==========*/
.task-progress {
  max-height: 400px;
  height: max-content;
}

.track-task-progress {
  display: flex;
  justify-content: space-between;
}

.task-progress-header,
.task-progress-status {
  max-width: max-content;
  width: max-content;
}

.task-progress-header p:first-child {
  font-weight: 600;
  color: var(--task-text2);
}

.task-progress-header p:last-child {
  color: var(--task-text1);
}

.task-progress-status div {
  display: flex;
  gap: 6px;
}

.task-progress-status div i {
  color: var(--task-text1);
}

.task-progress-status div p:last-child {
  color: var(--task-text2);
  font-weight: 550;
}

.task-progress-status p:last-child {
  color: var(--task-text1);
}

.task-progress-bar {
  position: relative;
  height: 12px;
  border-radius: 50px;
  overflow: hidden;
  background: #a0a0a054;
}

.task-overview {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.card-overview {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  min-width: 70px;
  max-width: 700px;
  width: 100%;
  padding: 10px 0;
}

.card-overview.total {
  background: #77aae17c;
}

.card-overview.completed {
  background: #29a43c59;
}

.card-overview.pending {
  background: #f77c8485;
}

.card-overview.total i {
  color: #2887ec;
  font-size: 35px;
}

.card-overview.completed i {
  color: #0cbe27;
  font-size: 35px;
}

.card-overview.pending i {
  color: #be0c18;
  font-size: 35px;
}

.task-total,
.task-completed,
.task-pending {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.task-total p:last-child,
.task-completed p:last-child,
.task-pending p:last-child {
  color: var(--task-text1);
  font-size: 15px;
}

/*==========TASK CREATION==========*/
.add-task {
  height: max-content;
  transition: .3s ease;
  padding: 0;
}

.add-task button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  font-size: 14px;
  font-weight: 500;
  padding: var(--box-padding);
  height: 100%;
  border: none;
  border-radius: 20px;
  background: none;
  cursor: pointer;
  color: var(--addTask-hover);
  transition: .3s ease;
}

.add-task button.inactive {
  display: none;
}

.add-task button i {
  font-size: 12px;
  transition: .3s ease;
}

.add-task button:hover {
  color: #FFFFFF;
  background: var(--addTask-hover);
}

.add-task button:hover i {
  transform: rotate(90deg);
  color: #fff;
}

.new-task {
  display: none;
}

.new-task.active {
  display: flex;
  flex-direction: column;
  padding: var(--box-padding);
  gap: 15px;
}

.new-task-header {
  display: flex;
  gap: 8px;
}

.plus-icon {
  padding: 6px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background: #FA7600;
  color: #fff;
}

.new-task-selected-date {
  color: var(--task-text2);
}

.new-task-selected-date div {
  display: flex;
  gap: 4px;
  color: var(--task-text1);
}

.new-task-title,
.add-prior {
  display: flex;
  flex-direction: column;
}

.new-task-title label {
  display: flex;
  align-items: center;
  gap: 12px;
}

.new-task-title label i {
  font-size: 24px;
}

#titleInput, #selectPrior {
  background: #fff;
  border: none;
  padding: 12px;
  border-radius: 12px;
}

#titleInput::placeholder {
  color: var(--task-text1);
}

#titleInput:focus,
#selectPrior:focus {
  box-shadow: 0 0 4px var(--task-text1);
  outline: none;
}

.add-prior label {
  display: flex;
  align-items: center;
  font-size: 14px;
  gap: 12px;
}

.add-prior label i {
  font-size: 14px;
}

.prior-select {
  position: relative;
  user-select: none;
}

.selected {
  position: relative;
  background: #fff;
  margin-top: 6px;
  border-radius: 12px;
  padding: 10px 12px;
  cursor: pointer;
  font-weight: 500;
  font-size: 12px;
  color: #333;
  display: flex;
  align-items: center;
  gap: 6px;
  transition: border 0.2s ease, box-shadow 0.2s ease;
}

.selected::after {
  position: absolute;
  content: "▼";
  font-size: 0.6rem;
  right: 10px;
  color: #777;
  transition: transform 0.2s ease;
}

.prior-select.active .selected::after {
  transform: rotate(180deg);
}

.options {
  position: absolute;
  top: 110%;
  left: 0;
  width: 100%;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  font-size: 12px;
  transition: all 0.2s ease;
  color: #262626;
  z-index: 99;
}

.prior-select.active .options {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

.options li {
  padding: 10px 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: 0.2s ease;
}

.options li:hover {
  background: #f3f3f3;
}

/* Dot colors */
.dott {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.dott.low {
  background: #4caf50;
}

.dott.medium {
  background: #ff9800;
}

.dott.high {
  background: #f44336;
}

.buttons {
  display: flex;
  gap: 10px;
  height: 50px;
}

.buttons button {
  width: 100%;
}

#addTaskBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  gap: 6px;
  padding: 10px;
  background: #FA7600;
  color: #fff;
}

#addTaskBtn:hover {
  background: #fa7500c2;
}

#cancelBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: 10px;
}

#cancelBtn:hover {
  background: #dfdfdfa2;
  color: #262626;
}

#addTaskBtn:active,
#cancelBtn:active {
  transform: scale(0.90);
}

/*======TASK CONTAINER======*/
.task-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: var(--box-padding);
  border-radius: 20px;
  box-shadow: 0 0 20px #26262669;
  overflow: hidden;
  transition: .3s ease;
}

.task-container:hover {
  transform: scale(1.02);
}

.your-task-header {
  display: flex;
  justify-content: space-between;
}

.your-priority {
  background: #ffdca950;
  color: #ff9800;
  border: 1px solid #ff9900;
  padding: 4px 8px;
  border-radius: 15px;
  font-size: 12px;
}

.task-btn-group {
  display: flex;
  gap: 15px;
}

.editYourTask, .trashYourTask {
  cursor: pointer;
  transition: .2s ease;
}
.editYourTask {
  color: var(--task-text2);
}
.editYourTask:hover {
  color: #5b5b5b;
}
.trashYourTask {
  color: #df493ed6;
}
.trashYourTask:hover {
  color: #f1685e9e;
}

.editYourTask.hide {
  display: none;
}

.content {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
}

.task-title {
  user-select: none;
}

.circle-checkbox {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #16a34a; 
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease;
}

.circle-checkbox:hover {
  border: 2px solid #16a34a; 
}

.circle-checkbox:checked {
  background-color: #16a34a;
  border: 2px solid #16a34a; 
}

.circle-checkbox:checked::after {
  content: "✔️";
  position: absolute;
  top: 50%;
  left: 50%;
  height: 15px;
  width: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff55;
  font-size: 12 px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

/*======CONTROL WITH JS======*/
#titleInput.invalid {
  animation: errorShake .3s ease;
}

@keyframes errorShake {
  0% { 
    transform: translate(0); 
  }
  10%, 30%, 50%,  90% { 
    transform: translateX(-2px); 
  }
  20%, 40%, 80% {
     transform: translateX(2px); 
    }
  100% {
     transform: translate(0); 
    }
}

.your-priority.low {
  background: var(--prio-bg-low);
  color: var(--prio-text1);
  border: 1px solid var(--prio-text1);
}
.your-priority.med {
  background: var(--prio-bg-med);
  color: var(--prio-text2);
  border: 1px solid var(--prio-text2);
}
.your-priority.high {
  background: var(--prio-bg-high);
  color: var(--prio-text3);
  border: 1px solid var(--prio-text3);
}

/*EMPTY TASK*/
.empty-task {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
  box-shadow: 0 0 20px #2626261d;
  padding: var(--box-padding);
  border-radius: 20px;
}

.check-square {
  background-image: linear-gradient(to bottom right,
  #fff584, 
  #FA7600, #FA7600);
  width: max-content;
  padding: 18px 20px;
  border-radius: 25px;
  color: #fff;
  font-size: 25px;
}

.empty-task p {
  color: var(--task-text2);
  font-weight: 600;
}

.empty-task p:last-child {
  color: var(--task-text1);
  font-weight: 400;
  font-size: 15px;
  max-width: 250px;
  min-width: 150px;
  width: 100%;
}

/**TASK COMPLETED**/
.task-container.completed:before {
  content: '';
  position: absolute;
  background-image: linear-gradient(120deg, 
  rgba(255, 255, 255, 0.050), rgba(0, 0, 0, 0.500));
  backdrop-filter: blur(2.5px);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: .3s ease-in;
}

.task-container.completed:hover::before {
  backdrop-filter: blur(0.7px);
}

/**TASK PROGRESS**/
.countTask.checkMark {
  color: #fff;
  background: #08e95a;
  z-index: 99;
}

.countTask.default {
  color: #fff;
  font-size: 10px;
  background: #FA7600;
  z-index: 99;
}
.metric-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  /* width: var(--progress-bar); */
  border-radius: 50px;
  background: #08e95a;
  animation: anim 1s ease forwards;
}

@keyframes anim {
  0% {
    width: var(--current-progress);
  } 100% {
    width: var(--progress-bar);
  }
}

/**CLEAR COMPLETED TASK**/
.clearTask {
  display: none;
}
.clearTask.active {
  display: flex;
  justify-content: center;
  background: none;
  padding: 15px;
  border: none;
  font-size: 12px;
  border-radius: 15px;
  box-shadow: 0 0 20px #2626263f;
  cursor: pointer;
  gap: 6px;
  transition: .3s ease;
}

.clearTask:hover {
  background: #f74535;
  color: #fff;
}
.clearTask i {
  transition: 1s ease;
}
.clearTask:hover i {
  animation: bounce 1s infinite;
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-4px);
  }
}

@media screen and (min-height: 1024px) {

  .tasks-tab {
    min-height: 100vh;
    overflow-y: auto;
    touch-action: pan-y
  }

  .task-progress {
    height: max-content;
    font-size: 18px;
    padding: 25px;
  }

  .task-progress-bar {
    height: 16px;
  }

  .add-task {
    justify-content: center;  
    max-height: max-content;
    border-radius: 30px;
    height: 100%;
    padding: 0;
  }

  .new-task-selected-date {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  #titleInput {
    font-size: 15px;
  }

  .prior-select .selected {
    font-size: 15px;
  }
  .prior-select .options {
    font-size: 15px;
  }

  .plus-icon {
    padding: 15px;
    border-radius: 15px;
  }
  .new-task.active {
    font-size: 18px;
  }

  #addTask {
    border-radius: 30px;
    padding: 25px;
    font-size: 16px;
  }
  .buttons button {
    font-size: 15px;
  }

  .task-list {
    height: 350px;
    padding: 0;
    max-height: max-content;
    height: 100%;
    box-shadow: none;
  }

  .task-select-date {
    max-height: 750px;
    height: max-content;
    padding: 20px;
  }

  .calendar {
    gap: 15px;
  }

  .days {
    font-size: 16px;
  }

  .task-container {
    padding: 25px 20px;
  }

  .empty-task {
    padding: 30px ;
  }
  .check-square {
    font-size: 30px;
    padding: 24px 26px;
  }
  .empty-task p {
    font-size: 18px;
  }
  .empty-task p:last-child {
    font-size: 16px;
  }

  .your-task-header {
    font-size: 18px;
  }
  .your-priority {
    font-size: 13px;
  }
  .content {
    font-size: 20px;
  }
  .change-title {
    font-size: 20px;
    padding: 8px 12px;
    border-radius: 12px;
  }
  .checkbox-wrap {
    display: flex;
    align-items: center;
  }
}